<h1>Editing sample</h1>

<%= error_messages_for :sample %>

<% form_for(@sample) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sample %> |
<%= link_to 'Back', samples_path %>
