<h1>Listing samples</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for sample in @samples %>
  <tr>
    <td><%=h sample.name %></td>
    <td><%= link_to 'Show', sample %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <td><%= link_to 'Destroy', sample, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sample', new_sample_path %>
